<div class="grid tabla">
    <div class="row">
        <div class="cell"><div>
            <div class="card-header">
                <b>CONTÁCTANOS</b>
            </div>
        </div>
        <div class="row">
          <div class="cell"><div>
            <br>
            <h6>Ubicación</h6>
            <p>García Moreno, Ambato S4-35 y, Quito 170401</p>
            <br>
            <h6>Teléfono</h6>
            <p>0968567898</p>
          </div></div>
          <div class="cell"><div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.787589145164!2d-78.51909168572993!3d-0.2248801354514222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto+Superior+Tecnol%C3%B3gico+Yavirac!5e0!3m2!1ses!2sec!4v1544757109413" width="590" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div></div>
      </div>
        
    </div>
    </div>
