<div data-role="appbar" data-expand-point="md">
    <div class="opciones">
    <ul class="app-bar-menu">
        <li><a href="#">Inicio</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Notificaciones</a>
            <span class="badge bg-green fg-white">4</span>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="#">No tienes notificaciones</a></li>
            </ul>
            </li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
            <a href="#" class="dropdown-toggle">Cerrar sesión</a>
             <ul class="d-menu" data-role="dropdown">
            <li><a href="#"><span class="icon mif-exit"></span>Salir</a></li>
            </ul>
        </li>
    </ul>
    </div>
</div>
