
    <div class="card-header">
        <p><b>Título</b></p>
        <input type="text" data-role="materialinput"
         placeholder="Título del servicio"
        
         data-informer="Ejemplo: Clases de química"
         data-cls-line="bg-cyan"
         data-cls-label="fg-cyan"
         data-cls-informer="fg-lightCyan"
         data-cls-icon="fg-darkCyan"
     >
    <p><b>Descripción</b></p>
    <textarea data-role="texyarea"></textarea>
    <p><b>Tiempo</b></p>
    <input type="text" data-role="spinner" data-buttons-position="right" data-min-value="0" data-max-value="5">
    <br>
    <div class="col-12 text-right">
    <input type="button" class="button" value="Cancelar">
    <button class="button success">Publicar</button>
    </div>
