<div class="perfil" style="width: 19rem;">
    <div class="card">
    <div class="card-header">
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <div class="name">Cristian Narváez</div>
        <div class="date"><b>Tiempo que tienes:</b> 5 Horas</div>
    </div>
</div>
<div class="card m-2" style="width: 18rem;">
    <ul class="sidebar-menu">
        <li><a routerLink="/inicio"><span class="mif-home icon"></span>Inicio</a></li>
        <li class="divider"></li>
        <li><a routerLink="/publicar"><span class="icon mif-compass"></span>Publicar servicio</a></li>
        <li><a routerLink="/mis-publicaciones"><span class="icon mif-file-empty"></span>Mis plublicaciones</a></li>
    </ul>  
</div>


        